// 设置公共部分
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}
@charset 'utf-8';
@psdWidth:640;
@bs:20rem;
@baseSize:20;//基准值20，也就是1rem=20px;
@deviceWidthList:320px,360px,375px,384px,400px,414px,424px,450px,480px,540px,640px,720px,750px;
.adpterFunc(@index) when(@index<=length(@deviceWidthList)){
	@media (min-width: extract(@deviceWidthList,@index)){
		html{
			font-size:extract(@deviceWidthList,@index)/@psdWidth*@baseSize;
		}
	}
	.adpterFunc(@index+1)
}

.adpterFunc(1);

.w(@width) when not(ispercentage(@width)){
  width:@width/@bs;
} 
.w(@width) when (ispercentage(@width)){
  width:@width;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
.h(@height) when not(ispercentage(@height)){
  height: @height/@bs;
}
.h(@height) when (ispercentage(@height)){
  height:@height;
}
.wh(@width,@height){
  .w(@width);
  .h(@height);
}
@res:0;
.p2r(@size){
  @res:@size/@bs;
}
.pos(@width;@height){
  .w(@width);
  .h(@height);
  position:absolute;

}
.pos(@width;@height;@url){
  .w(@width);
  .h(@height);
  position:absolute;
  background:  url("../images/@{url}")  no-repeat center/ 100% 100%;
}
.pos(@width;@height;@url;@pos1;@pos2){
   .w(@width);
  .h(@height);
  position:absolute;
  background:  url("../images/@{url}")  no-repeat center/ @pos1/@bs @pos2/@bs;
}
.posc(3;@width;@bottom;){
  left:50%;
  margin-left: -@width/2/@bs;
  bottom:@bottom/@bs;
  position:absolute;
}
.posc(1;@width;@top){
  left:50%;
  margin-left:-@width/2/@bs;
  top:@top/@bs;
  position:absolute;
}
.pos_defined(@pos1:top;@top:0;@pos2:right;@right:0){
  @{pos1}:@top/@bs;
  @{pos2}:@right/@bs;
}
// div{
//   // .posc(bottom,100,20);
//   .pos_defined(top;20;right;8);
// }
