@import 'normalize8.0.less';
@import 'base.less';
// 设置 高度 100%
html,
body {
    height: 100%;
    overflow:hidden;
}

body>div{
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
}

.loading{
	background-color: #ffece9;
	// padding-top:233/@bs;
	.p2r(233);
	padding-top: @res;
	display: flex;
	flex-direction:column;
	align-items: center;
	.rider{
		.wh(154,121);
		background:url('../images/loading/rider1_.png') no-repeat center/100% 100%;
	}
	.progress{
		.wh(416,20);
		border-radius:20/@bs;
		border:2/@bs solid #000;
		margin-top: 6/@bs;
		position:relative;
		.step{
			height:100%;
			background-color: #ff2947;
			width:50%;
			position:absolute;
			right:0;
		}
	}
	.info{
		.wh(220,26);
		.p2r(40);
		margin-top:@res;
		background: url('../images/loading/loading-txt.png')no-repeat center/100% 100%;
	}
	.desc{
		text-align: center;
		color:#ed8895;
		position:absolute;
		width:100%;
		.p2r(70);
		bottom:@res;
		font-size:24/@bs;		
	}
}
.go-layout{
	background-color: deepskyblue;
	.clouds{
		.pos(100%;673;'page1/clouds.png');
		bottom:0;
	}
	.grass1{
		.pos(100%;396;'page1/grass1.png');
		bottom:0;
	}
	.grass2{
		.pos(100%;228;'page1/grass2.png');
		bottom:0;
	}
	.btn-container{
		.pos(208;208;'page1/bear-btn-aft.png';124;113);
		bottom:86/@bs;
		left:50%;
		margin-left: (-208/2/@bs);
		.circle1{
			.pos(100%;100%;'page1/circle1.png');
			top:0;
			left:0;
		}
		.circle2{
			.pos(100%;100%;'page1/circle2.png');
			top:0;
			left:0;
		}
	}
	.waimai-load{
		position:absolute;
		width:100%;
		text-align: center;
		bottom:38/@bs;
	}
	.tree{
		.pos(599;71;'page1/trees.png');
		.posc(3;599;352);
	}
	.bear-title{
		.pos(397;244;'page1/theme-title.png');
		.posc(1;397;42);
		.bear-hello{
			.pos(75;70;'page1/hello.png');
			.pos_defined(top;20;right;8);
		}
	}
	.bear-box{
		.pos(167;279);
		.posc(3;167;346);
		.bear{
			.pos(100%;100%;'page1/rider2.png');
		}
		.smoke{
			.pos(167;32;'page1/jet1.png');
			bottom:0;
		}
	}
}
.waimai-container{
	.pos(100%;100%);
	.pos_defined(top;0;left;0);
	// 第一页
	.page1{
		background-color: #be8651;
		.title{
			.pos_defined(left;32;top;32);
			padding-left: 20/@bs;
			h3{
				color: #fff;
				font-size: 64/@bs;
			}
			p{
				color:#fff;
				font-size: 24/@bs;
				padding-bottom: 12/@bs;
			}
			.line{
				.pos(5;100%);
				.pos_defined(@pos2:left);
				background-color: #fff;
			}
		}
		.bear{
			.pos(178;134;'page2/bear1.png');
			.pos_defined(right;38;bottom;0);
		}
		.scroll-page1{
			.bg{
				.pos(576;573;'page2/bg1.png');
				bottom: 252/@bs;
			}
			.person{
				.pos(439;349;'page2/front1.png');
				bottom: 200/@bs;
				z-index: 1;
				.files{
					.pos(85;50;'page2/papers.png';115;114);
					.pos_defined(left;27;bottom;104);
					background-position:bottom right;
					position: absolute;
					.paper1{
						.pos(86;26;'page2/papers.png';115;114);
						.pos_defined(left;-70;bottom;45);
						background-position: 0  -32/@bs;
						position: absolute;
					}
					.paper2{
						.pos(64;20;'page2/papers.png';115;114);
						.pos_defined(right;0;bottom;80);
						background-position: -45/@bs 0;
					}
				}
			}
			.sphere{
				.pos(640;356;'page2/sphere1.png');
				bottom: 0;
			}
			.message-container{
				.pos(363;119;'page2/txt-bubbl.png');
				.pos_defined(bottom;140;right;140);
				display: flex;
				justify-content:center;
				align-items:center;
				.info{
					.pos(220;30;'page2/txt-work.png')
				}
			}
		}
	}
}

